

.book-spine {
    width: 20px;
    height: 140px;
    background-color: #555;
    position: relative;
  }

  .book-spine-top,
  .book-spine-middle,
  .book-spine-bottom {
    position: absolute;
    width: 100%;
    height: 2px;
  }

  .book-spine-top {
    top: 0;
    background-color: #aaa;
  }

  .book-spine-middle {
    top: 50%;
    margin-top: -1px;
    background-color: #ccc;
  }

  .book-spine-bottom {
    bottom: 0;
    background-color: #aaa;
  }

  .box {
    overflow-y: hidden;
    padding: 10px;
    margin: 0 -10px -10px -10px;
    overflow-x: hidden;
    position: relative;
    z-index:1;
  }

  .border-outer {
    z-index:2;
  }

  .border-inner {
    border: 10px solid #8B4513;
    border-radius: 10px;
    border-collapse: collapse;
  }
